dify_workflow/訂會議室api.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 訂會議室api
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: 1726810547578-source-1726810551196-target
      source: '1726810547578'
      sourceHandle: source
      target: '1726810551196'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: end
      id: 1726810551196-source-1726810686645-target
      source: '1726810551196'
      sourceHandle: source
      target: '1726810686645'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 開始
        type: start
        variables:
        - label: start_date
          max_length: 10
          options: []
          required: true
          type: text-input
          variable: start_date
        - label: room_number
          max_length: 4
          options: []
          required: true
          type: text-input
          variable: room_number
        - label: meeting_subject
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: meeting_subject
        - label: time_from
          max_length: 5
          options: []
          required: true
          type: text-input
          variable: time_from
        - label: time_to
          max_length: 5
          options: []
          required: true
          type: text-input
          variable: time_to
      height: 239
      id: '1726810547578'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - type: text
            value: '{

              "room_number": "{{#1726810547578.room_number#}}",

              "start_date": "{{#1726810547578.start_date#}}",

              "meeting_subject": "{{#1726810547578.meeting_subject#}}",

              "time_from": "{{#1726810547578.time_from#}}",

              "time_to": "{{#1726810547578.time_to#}}"

              }'
          type: json
        desc: ''
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
          read: 60
        title: HTTP 請求
        type: http-request
        url: http://172.24.190.199:5000/book
        variables: []
      height: 168
      id: '1726810551196'
      position:
        x: 390
        y: 282
      positionAbsolute:
        x: 390
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1726810551196'
          - body
          variable: body
        selected: false
        title: 結束
        type: end
      height: 109
      id: '1726810686645'
      position:
        x: 693
        y: 282
      positionAbsolute:
        x: 693
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 411
      y: 40
      zoom: 1
